$color-primary: #55c57a;
$color-primary-light: #7de56f;
$color-primary-dark:#28b485;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//grid
$grid-width: 114rem;
$gutter_vertical: 8rem;
$gutter_horizontal:6rem;